p {
  font-size: 20px;
}
section.top-section {
  width: 100%;
  padding: 52.5px 0;
}
section.skinny {
  width: 50%;
  padding: 115px 0;
}
section.top-section:nth-of-type(1) {
  background-color: yellow;
}
section.top-section:nth-of-type(2) {
  background-color: green;
}
.top-section.left {
  display: inline-block;
}
.top-section.right {
  display: inline-block;
}
section.left {
  float: left;
}
section.right {
  float: right;
}
div section:nth-of-type(1) {
  background-color: turquoise;
}
div section:nth-of-type(2) {
  background-color: blue;
}
div section:nth-of-type(3) {
  background-color: indigo;
  color: white;
}
div section:nth-of-type(4) {
  background-color: magenta;
}